.APP{
  color: blueviolet;
}
html,body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background: url('./bgpic.jpg') no-repeat;
  height: 100vh;
  background-size: cover;
}
.App{
display: flex;
margin-top: 10%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40%;
  background:white;
  margin-left: 20%;
  border-radius: 15px;;
  padding: 5px;
}
h3{
  padding:5px;
}
.btn{
  color: beige;
  background:rgb(69, 42, 165);
  padding: 5px;
  border-radius: 5px;
}

