.APP{
  color: blueviolet;
}
html,body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background: url('./bgpic.jpg') no-repeat;
  height: 100vh;
  background-size: cover;
}
.App{
 display: flex;
 justify-content: center;
 align-items: center;
}
.app-info{
  display: flex;
  margin-top: 10%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background:#fdfdfdfa;
    border-radius: 15px;;
    padding: 5px;
}
h3{
  padding:5px;
}
.btn{
  color: beige;
  background:rgb(69, 42, 165);
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
}
.btn:hover{
  background-color:rgba(243, 125, 125, 0.849);color:rgba(15, 15, 15, 0.959)
}


@media all and (max-width:400px){
  .App{
    margin-left: 5px;
    margin-right: 5px;
  }
  .app-info{
    margin-top: 20%;
  }
}
@media all and (max-width:1028px){
  .App{
    margin-left: 5px;
    margin-right: 5px;
  }
  .app-info{
    margin-top: 20%;
  }
}

